body {
    background: skyblue;
    color: yellow;
    margin: 0;
    text-align: center;
}

#canvas {
    background: white;
    margin: 0 auto;
}

#frontCanvas {
    position: absolute;
    border: 1px solid black;
    background: blue;
}

.boardWrapper {
    text-align: center;
}